
  <!--Main Content-->
  <main class="container">
    <div class="jumbotron">
    <div class="card mb-3"  style="max-width: 450px;" >
  <img src="/Assets/images/about.JPG" 
  class="card-img-top" alt="...">
    
  
  <div class="card-body">
    <h5 class="card-title">Kate Park</h5>
   <p class="card-text">Software Developer </p>
   <p class="card-text">Email: tbtehf12@gmail.com </p>
   <a href="/Assets/pdf/Hyekyeong Park - Resume (1).pdf" class="btn btn-primary" target="_blank">Resume</a>
   <a href="https://www.linkedin.com/in/hyekyeong-park-a26baa185/" class="btn btn-primary" target="_blank">LinkedIn</a>
    <p class="card-text"><small class="text-muted">View the latest updated</small></p>
  </div>
</div>
</div>
 </div>
    </div>
  </main>
