  <!-- Bottom Nav-->
  <footer>
    
    <nav class="navbar fixed-bottom navbar-dark" style="background-color: #7070db;">
        <div class="container">
            <h6 class="display-6 navbar-text">&copy;&nbsp; Copyright 2021. Kate Park.</h6>
        </div>
    </nav>

  </footer>