
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">

      <div class="card h-100">
        <img src="/Assets/images/responsive_restaurant.png" class="card-img-top" alt="JavaScript" height="200px">
        <div class="card-body">
          <h5 class="card-title">Responsive Web Site</h5>
          <a href="https://hkpark97.github.io/restaurant_website/restaurant_index.html" 
          class="btn btn-primary" target="_blank">View Project</a>
        </div>
        <div class="card-footer">
          <small class="text-muted">Updated on 30 Apr</small>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100">
        <img src="/Assets/images/travel_react.png" class="card-img-top" alt="React" height="200px">
        <div class="card-body">
          <h5 class="card-title">React Travel Web Site</h5>
          <a href="https://gotcanada.netlify.app/" class="btn btn-primary" 
          target="_blank">View Project</a>
        </div>
        <div class="card-footer">
          <small class="text-muted">Updated 24 days ago</small>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100">
        <img src="/Assets/images/ms_chat.png" class="card-img-top" alt="React" height="200px">
        <div class="card-body">
          <h5 class="card-title">React Chat App</h5>
          <a href="https://chat-app-react-hk.netlify.app/" class="btn btn-primary" 
          target="_blank">View Project</a>
        </div>
        <div class="card-footer">
          <small class="text-muted">Updated 27 days ago </small>
        </div>
      </div>
    </div>
  </div>