<!--card group-->

<div class="row row-cols-1 row-cols-md-3 g-4">

  <div class="col">
    <div class="card h-100">
      <img src="/Assets/images/web_dev_services.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Web/Mobile Development</h5>
      </div>
    </div>
  </div>
  

  <div class="col">
    <div class="card h-100">
      <img src="/Assets/images/uiux_service.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">UI/UX Design</h5>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100">
      <img src="/Assets/images/db_service.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Database Design and Development</h5>
      </div>
    </div>
  </div>
</div>
